.parent {
    display: grid;
    width: 100vw;
    min-height: 100vh !important;
    height: auto !important;
    grid-template-columns: 120px 2.5fr 2.5fr 3fr;
    /* 🔹 Sidebar con ancho fijo */
    grid-template-rows: 0.5fr 2.2fr 2.2fr;
    gap: 8px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll !important;
}

/* Sidebar */
.div1 {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}


/* Search Bar */
.div2 {
    grid-column: 2 / 5;
    /* Ocupar todas las columnas excepto la del sidebar */
    grid-row: 1 / 2;
}

/* Card 1 (Principal) */
.div3 {
    grid-column: 2 / 4;
    /* Se reduce su ancho */
    grid-row: 2 / 3;

}

/* Card 2 */
.div4 {
    grid-column: 2 / 4;
    /* Se reduce su ancho */
    grid-row: 3 / 4;

}

/* Card 3 (Calendario) */
.div5 {
    grid-column: 4 / 5;
    /* Ahora es más ancho */
    grid-row: 2 / 4;
    /* Mantiene la altura ocupando el espacio sobrante */
}

@media screen and (max-width: 768px) {

    .parent {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
        gap: 8px !important;
        overflow: scroll !important;
        height: 70vh !important;
    }

    .div2 {
        grid-column: span 2 / span 2 !important;
    }

    .div3 {
        grid-column: span 2 / span 2 !important;
        grid-row-start: 2 !important;
    }

    .div5 {
        grid-column: span 5 / span 2 !important;
        grid-column-start: 1 !important;
        grid-row-start: 5 !important;
        margin-top: 6rem;
    }

    .div9 {
        grid-column-start: 2 !important;
        grid-row-start: 4 !important;
    }

    .div7 {
        grid-column-start: 1 !important;
        grid-row-start: 4 !important;
    }

    .calendar-div-movil {
        grid-column: span 2 / span 2 !important;
        grid-column-start: 1 !important;
        grid-row-start: 3 !important;
    }
}