.hero-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0) 60%, /* Transparente en la parte superior */
        rgba(255, 255, 255, 1) 100%  /* Blanco en la parte inferior */
    ), url("/home.png"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 111vh; /* Ajusta según sea necesario */
}

.hero-section h1 {
    margin-bottom: 0 !important;
    /* Elimina el espacio debajo del h1 */
    padding-bottom: 0 !important;
    /* Por si hay relleno extra */
    margin-top: 15rem !important;
}

.hero-section p {
    margin-top: -5px !important;
    /* Acerca aún más el p al h1 */
}